@font-face {
	font-family: Fury;
	src: url(../Fonts/uranium.ttf) format('truetype');
}
body, html
{
    margin: 0;
    padding: 0;
    background-color: #000000;
    text-align: center;
    overflow: hidden;
}

#container
{

}

#canvas
{
    background-color: #333333;
    display: inline-block;
    vertical-align: middle;
}
