@font-face {
	font-family: Fury;
	src: url('../Fonts/cyborg45.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body, html
{
    margin: 0;
    padding: 0;
    background-color: #000000;
    text-align: center;
    overflow: hidden;
}

#container
{
    font-family: Fury;
    color: white;
}

#canvas
{
    background-color: #333333;
    display: inline-block;
    vertical-align: middle;
}
